.hero-wrapper{
    color:white;
    position:relative;
    padding-bottom: 20rem;
    background: var(--black);
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;

}

.hero-left{
    gap: 3rem;
}

.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle{
    width: 4rem;
    height: 4rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    z-index: -1;
    position: absolute;
    top: -10%;
    right: 42%;
}

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container> img{
    width: 100%;
    height: 100%;
}

.hero-description{
    padding: 15px 0 10px 0;
}

.search-bar{
    background-color: white;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(120, 120, 120, 0.374);
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
}

.search-bar>input{
    border: none;
    outline: none;
}

.stats{
    width:100%;
    justify-content: space-between;
}

.stat>:nth-child(1){
    font-size: 2rem;
}

.stat>:nth-child(1)>:last-child{
color: orange;
}

@media (max-width:600px){
    .hero-container{
        margin-top: 2rem;
    }
    .hero-title>h1{
        font-size: 2.8rem;
        line-height: 3rem;
    }
    .image-container{
        width: 95%;
        height: 25rem;
    }

    .stats{
        justify-content: center;
        gap: 2.5rem;
    }
    .hero-right{
         width: 100%;
    }
    .hero-right>:nth-child(1){
        font-size: 1.5rem;
    }
    .hero-right>:nth-child(2){
        font-size: 0.8rem;
    }
}