.v-container .image-container{
    border: 8px solid rgb(233 233 233 /93%);
}

.v-right{
    gap: 0.5rem;
}

.v-container>div{
    flex: 1;
}

.accordion{
    margin-top: 2rem;
    border: none;

}

.accordion-item{
    border: rgba(128, 129, 128, 0.143);
    background: white;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.accordion-button{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-item.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}
.icon svg{
    fill: var(--blue);
}

.accordion-button .primaryText{
    font-size: 1.1rem;
}

@media (max-width:1024px) {
    .v-container{
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .accordion .primaryText{
        font-size: 0.8rem;
    }
}